// *表示所有元素
* {
    margin: 0;
    padding: 0;
    font-family: "LXGW WenKai Mono TC", monospace;
}

.banner {
    background: linear-gradient(135deg, #00b4d8, #0077b6);;
}

.signup-form {
    h1 {
        color: #0077b6;
    }
    p {
        color: #0077b6;
    }
}

.signup-form-button {
    background-color: #0077b6;
;
}